body{
  margin: 0;
  font-family: Arial, sans-serif;
}

nav{
  padding: 16px;
  background-color: #111;
  color: white;
}

section{
  padding: 60px 20px;
  text-align: center;
}

button{
  padding: 12px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}